
@mixin title {
    color:  $headColor;
    font-family: $headingFontFamliy;
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 18px;
    line-height: 34px;
    
}
@mixin titleText{
    color: $mainTextColor;
    font-family: $textFontFamliy;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
}

@mixin  sectionHeading {
    font-family: $headingFontFamliy;
    font-size: 48px;
    font-weight: 600;

}

@mixin normalText{
    font-family: $textFontFamliy;
    font-size: 18px;
    font-weight:normal;
}

@mixin  bannerButton {
    
background-color: #fd7400;
background-color: linear-gradient(-262deg, #ff6603 0%, #ffa300 100%);
color: #ffffff;
font-family: $textFontFamliy;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
text-align: center;
text-transform: uppercase;
    position: absolute;
    right: 24px;
    border: 0;
    font-size: 13px;
    padding: 8px 21px;
    outline: none;
    border-radius: 5px;
    &:hover{
        background-color: #291f38;  
    }
}

@mixin bannerInput{
    width: 100%;
    background-color: #f8f9fa;
    color: #898989;
    border: 0;
    border-radius: 5px;
    height: 40px;
    padding: 0 18px;
    font-size: 16px;
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }